*,
::after,
::before {
  box-sizing: border-box;
}
html {
  background-color: #000;
  min-height: 100%;
}
:root {
  font-size: 16px;
  --color-text: #fdf17b;
  --color-text-alt: #8bff85;
  --color-text-grid: #fff;
  --color-bg: #000;
  --color-link: #54ad8a;
  --color-link-hover: #a054fd;
  --cut: 20px;
}
body {
  margin: 0;
  padding-top: 4rem;
  color: var(--color-text);
  background-image: linear-gradient(
    33deg,
    #000,
    #000,
    #000,
    #000,
    #000,
    #000,
    #000,
    #124540,
    #05a16d,
    #59fbd0,
    #00ffae
  );
  background-size: cover;
  font-family: "Helvetica Neue", iki-mono-variable, sans-serif;
  font-weight: 200;
  font-variation-settings: "wdth" 80, "wght" 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.js .loading::after,
.js .loading::before {
  content: "";
  position: fixed;
  z-index: 1000;
}
.js .loading::before {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-bg);
}
.js .loading::after {
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  margin: -30px 0 0 -30px;
  border-radius: 50%;
  opacity: 0.4;
  background: var(--color-link);
  animation: loaderAnim 0.7s linear infinite alternate forwards;
}
@keyframes loaderAnim {
  to {
    opacity: 1;
    transform: scale3d(0.5, 0.5, 1);
  }
}
a {
  text-decoration: underline;
  color: var(--color-link);
  outline: 0;
  cursor: pointer;
}
a:hover {
  color: var(--color-link-hover);
  outline: 0;
  text-decoration: none;
}
a:not(.card__image):focus {
  outline: 0;
  background: #d3d3d3;
}
a:not(.card__image):focus:not(:focus-visible) {
  background: 0 0;
}
a:not(.card__image):focus-visible {
  outline: 2px solid red;
  background: 0 0;
}
section {
  display: grid;
  justify-content: center;
}
.grid {
  display: grid;
  position: relative;
  width: min-content;
  margin: 0;
  padding: 7rem 3vh 3vh 3vh;
  min-width: 100vw;
  grid-auto-rows: auto 1fr;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  z-index: 200;
  color: var(--color-text-grid);
}
.grid__title {
  text-transform: uppercase;
  font-size: 5vw;
  opacity: 1;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 700;
  line-height: 0.9;
  letter-spacing: -1px;
  background-color: #fff;
  background-image: linear-gradient(33deg, #333, #fff);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
.card {
  aspect-ratio: 1;
  overflow: hidden;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 0.5rem;
  padding: 0.5rem;
  grid-template-areas: "box-a box-b" "box-c box-d";
  cursor: pointer;
}
.card__img {
  background-size: cover;
  background-position: 50% 50%;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  will-change: filter, transform;
}
[data-effect="hover-2"] .card__img {
  transform: scale3d(1.3, 1.3, 1.3);
}
[data-effect="hover-3"] .card__img {
  transform: scale3d(1.2, 1.2, 1.2);
}
.card__box {
  opacity: 0;
  z-index: 2;
  padding: 1rem;
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);
}
.card__box--a {
  grid-area: box-a;
}
.card__box--b {
  grid-area: box-b;
}
.card__box--c {
  grid-area: box-c;
}
.card__box--d {
  grid-area: box-d;
}
.card__box--b,
.card__box--d {
  align-items: flex-end;
  text-align: right;
}
.card__box--a,
.card__box--d {
  clip-path: polygon(
    0 0,
    calc(100% - var(--cut)) 0,
    100% var(--cut),
    100% 100%,
    var(--cut) 100%,
    0 calc(100% - var(--cut))
  );
}
.card__box--b,
.card__box--c {
  clip-path: polygon(
    0 var(--cut),
    var(--cut) 0,
    100% 0,
    100% calc(100% - var(--cut)),
    calc(100% - var(--cut)) 100%,
    0 100%
  );
}
.card__box-number {
  font-size: clamp(2rem, 9vw, 10rem);
  font-family: "Supply", "Helvetica Neue", Stt-autonomous, -apple-system,
    BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
  font-weight: 800;
  line-height: 0.9;
  grid-area: number;
}
.card__box--alt {
  color: var(--color-text-alt);
}
.card__box-category,
.card__box-tags {
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: auto;
}
.card__box-tags {
  grid-area: tags;
  font-size: 0.9rem;
}
.card__box-category {
  grid-area: category;
}
.card__box > span {
  display: inline-bock;
  position: relative;
  overflow: hidden;
}
.line-1 {
  position: relative;
  /* margin: 0 auto; */
  margin-top: 15vh;
  border-right: 10px solid rgba(255, 255, 255, 0.75);
  font-size: 5vw;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
}
.anim-typewriter {
  animation: typewriter 4s steps(28) 1s 1 normal both,
    blinkTextCursor 0.5s steps(29) infinite normal;
}
@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 84vw;
  }
}
@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}
@media screen and (min-width: 1300px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
  }
}
@media screen and (max-width: 900px) {
  body {
    background-image: linear-gradient(
      83deg,
      #000,
      #000,
      #000,
      #000,
      #000,
      #000,
      #000,
      #124540,
      #05a16d,
      #59fbd0,
      #00ffae
    );
  }
  .grid {
    width: 100%;
    padding: 0 1rem 0 1rem;
    margin: 0;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-auto-rows: 1fr;
  }
  @keyframes typewriter {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  .line-1 {
    font-size: 6vw;
    margin-top: 2rem;
  }
  .grid {
    margin-top: 2rem;
  }
}
